<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="ui large top menu inverted" >
      <div class="ui container">
        <%= link_to "Home", root_path, class: "item active" %>
        <%= link_to "Your Wikipedias", wikis_path, class: "item" %>
        <% if current_user %>
          <div class="right menu">
            <div class="item">
             <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "ui button" %>
            </div>
          </div>
        <% else %>
          <div class="right menu">
            <div class="item">
              <%= link_to "Login", user_session_path, method: :get, class: "ui button" %>
            </div>
            <div class="item">
              <%= link_to "Register", new_user_registration_path, method: :get, class: "ui button" %>
            </div>
          </div>
        <% end %>
      </div>
      ::after
    </div>

    <%= yield %>

  </body>
</html>
