<!DOCTYPE html>
<html>
  <head>
    <title>WikiProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="ui large top fixed menu inverted" >
      <div class="ui container">
        <%= link_to "Home", root_path, class: "item active" %>
        <%= link_to "Your Wikipedias", wikis_path, class: "item" %>
        <% if current_user %>
          <div class="right menu">
            <div class="item">
             <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "ui button" %>
            </div>
          </div>
        <% else %>
          <div class="right menu">
            <div class="item">
              <%= link_to "Login", user_session_path, method: :get, class: "ui button" %>
            </div>
            <div class="item">
              <%= link_to "Register", new_user_registration_path, method: :get, class: "ui button" %>
            </div>
          </div>
        <% end %>
      </div>
      ::after
    </div>

    <div class="ui container content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
